@charset "utf-8";
/* CSS for handypaul.com */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Tahoma, "Trebuchet MS";
	vertical-align: baseline;
}


:focus {
	outline: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* *************************************** */


html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	background-image: url(../images/bg.gif);
}

strong {
	font-weight: bold;
	font-size: 12px;
}

.clear {clear:both}

/* SET MY "CANVAS" to about 6k x 6k px and draw all them subpages on there, split by roughly 500 px in all directions */
#container {
	width: 6000px;
	height: 6000px;
}


/** PAGE POSITIONING **/

.positioning {
	position: absolute;
	width: 800px;
	height: 700px;
}

	#start {
	top: 0px;
	background-color: #FFFFFF;
	background-image: url(../images/page_bg.png);
	background-repeat:repeat-x;
	margin-left: 189px;

	}
	
	#about {
		top: 1296px;
		left: 0px;
		background-color: #DD1F8E;
		background-image: url(../images/bg_pink.gif);
		background-repeat: repeat-y;
	}
	
	#work {
		top: 1267px;
		left: 1635px;
		background-color: #00A7E2;
		background-image: url(../images/bg_blue.gif);
		background-repeat: repeat-y;
	}
		
		
	#contact {
		top: 0px;
		left: 1617px;
		background-color: #6600FF;
		background-image: url(../images/page_bg.png);
		background-repeat: repeat-x;
	}
		
	#print {
		top: 2px;
		left: 3069px;
		background-color: #EE9A10;
		background-image: url(../images/bg_orange.gif);
		background-repeat: repeat-y;
	}
		
	#skills {
		top: 1414px;
		left: 3063px;
		background-color: #620294;
		background-image: url(../images/bg_purple.gif);
		background-repeat: repeat-y;
	}

.inside {
	margin: 30px;
	width: 720px;
	height: inherit;
	margin-top: 5px;
}
	
	.inside .header {
	font-family: Tahoma, "Trebuchet MS";
		font-size: 24px;
		color: #CCCCCC;
		padding-bottom: 0px;
	}

	.inside .text {
	font-family: Tahoma, "Trebuchet MS";
	font-size: 12px;
	color:white;
	text-align: justify;
	height: 250px;
	width: 720px;
	line-height: 22px;
	}
	
	
	.inside .fineprint {
	font-family: Tahoma, "Trebuchet MS";
	font-size: 9px;
	color:white;
	text-align: justify;
	height: 250px;
	width: 720px;
	line-height: 12px;
	}
	
	.profile {
		display: block;
		float: left;
		width: 88px;
		height: 250px;
		/*background-image: url(../images/pf.jpg);*/
		background-repeat: no-repeat;
		margin-right: 20px;
		margin-bottom: 10px;
		border: 10px solid #ca117d;
	}
	
	.inside .index {
	background-image: url(../images/LOGO_smaller_white.png);
	width: 250px;
	height: 130px;
	display: block;
	clear: both;
	margin: 0px;
	margin-bottom: 40px;
	}
	
		/** list for purple page **/
		
		.inside .text ul#purple {
			border-top: 1px solid  #0482FF;
			margin: 30px 0px;
		}
	
		.inside .text ul#purple li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: block;
			padding: 4px 16px;
			color:#666666;
			border-bottom: 1px solid  #0482FF;
		}
		
		.inside .text ul#purple li:hover {
			background-color: #0482FF;
			color: #FF0000;
		}
		#subtitle {
	font-size:24px;
	font-size-adjust:none;
	font-weight:bolder;
	color: #666666;
		}

.inside .fineprint .link2contact:hover {
background-color:#0099FF;
color:#999999;
}
.inside .fineprint .link2contact {
background-color:#333333;
color:#999999;
}
.inside .fineprint {
color:#999999;
}




/** TITLES **/




.title {
	background-repeat: no-repeat;
	text-indent: -1000em;
}

	#contact .title {
		/*background-image: url(../images/title_contact.gif);*/
		height: 43px;
	}

	#about .title {
		background-image: url(../images/title_about.gif);
		height: 43px;
	}
	
	#print .title {
		background-image: url(../images/title_print.gif);
		height: 50px;
	}
	
	#skills .title {
		background-image: url(../images/title_skills.gif);
		height: 43px;
	}
	
	#work .title {
		background-image: url(../images/title_work.gif);
		height: 43px;
	}
	
/** NAVIGATION BUTTONS **/

ul.navigation {
	float: right;
	display: block;
	width: 500px;
	padding: 0px;
	text-align: inherit;
	line-height: 22px;
	margin-top: 40px;
	position: absolute;
}

ul.navigation li {
	display: block;
	float: left;
}

#start ul.navigation { display: block; margin: 0 0; float: none; }

ul.navigation li:hover {
			background-color: #0099FF;
			color: #FFFFFF;
}



a.navigator {
	cursor: pointer;
	display: block;
	width: 80px;
	font-family: Tahoma, "Trebuchet MS";
	font-size: 12px;
	color: #FFF;
	text-align: center;
	background-color:#FF0000;

}


	#start .navigator { background-color: #0066FF; }
	/*#start .navigator { background-color:#0000FF; }*/
	#work .navigator { background-color: #006cab; }
	#print .navigator { background-color: #b97300; }
	#about .navigator { background-color: #a60764; }
	#skills .navigator { background-color: #400061; }
	#contact .navigator { background-color: #639d11; }
	
	#start .navigator .hover { background-color:#FF0000; }
	#work .navigator .hover { background-color: #FF0000; }
	#print .navigator .hover { background-color: #FF0000; }
	#about .navigator .hover { background-color: #FF0000; }
	#skills .navigator .hover { background-color: #FF0000; }
	#contact .navigator .hover { background-color: #FF0000; }
	
	#start .present .navigator,
	#work .present .navigator,
	#print .present .navigator,
	#about .present .navigator,
	#skills .present .navigator,
	#contact .present .navigator { background-color: #990000; color: #FFF;}

/** LINKS **/

a {
	
	font-weight: bold;
	cursor: pointer;
}

a:hover {
	color: #FFF;
	background-color: #990000;
}
	#start a {
			color: #FFFFFF;
			background-color:#FF0000;
	}
	#about a {
		color: #fdb3de;
		background-color: #ca117d;
	}
	
	#contact a {
		color: #dcffab;
		/*background-color: #70b212;*/
	}
	
	#skills a {
		color: #dfaef9;
		background-color: #570184;
	}
	
	#work a {
		color: #FFFF00;
		background-color: #007cc4;
	}
	
/** PORTFOLIO **/

.portfolio-item {
	display: block;
	float: left;
	width: 135px;
	height: 185px;
	cursor: pointer;
	margin-right: 5px;
}

.print-item {
	display: block;
	float: left;
	width: 116px;
	height: 132px;
	cursor: pointer;
	margin-right: 5px;
}

	#evacare { background-image: url(../images/thumb/evacare.jpg);}
	#lakiff { background-image: url(../images/thumb/lakiff.jpg);}
	#duffled { background-image: url(../images/thumb/duffled.jpg);}
	#rickdavid { background-image: url(../images/thumb/rickdavid.jpg);}
	
	#phirhospring { background-image: url(../images/thumb/phirhofall07.jpg);}
	#phirhofall { background-image: url(../images/thumb/phirhofall06.jpg);}
	#ipi2009 { background-image: url(../images/thumb/ipi2009.jpg);}
	
/** SHOWCASE **/

.strip {
	padding-top: 20px;
}

.showcase {
	font-family: Tahoma, "Trebuchet MS";
	font-size: 11px;
	padding: 20px;
	color: #FFF;
	line-height: 18px;
}

.showcase .li {
	text-align:center;
}

	#print .showcase { background-color: #d06c07; }
	#work .showcase { background-color: #0085d3; }

.showcasename {
	/*text-transform: uppercase;*/
	font-size: 13px;
	font-weight: bold;
}

	#print .showcasename { color: #fee097;}
	#work .showcasename { color: #9ddbff;}

.showcase img {
	border: 10px solid #FFF;
	margin: 10px auto;
	display: block;
}

.close-web, .close-print {
	float:right;
	display: block;
	font-weight: bold;
	cursor: pointer;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #AA0000;
	padding: 2px 8px;
	margin-left: 4px;
	margin-bottom: 4px;
}
